{% extends "base.html" %}

{% block page_content %}
    <div class="container">
        {% if found %}
            <h1>Your certificate:</h1>
            {% for key, value in data.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
        {% else %}
            <form class="form" method="post">
                {% csrf_token %}
                {{ csv_form.key }}
                <br>
                <input type="submit" class="btn btn-lg btn-primary btn-block center" name="" value="Submit">
                <p>{{ msg }}</p>
            </form>
        {% endif %}
    </div>
{% endblock %}
